---
layout: default
---
<!-- _layouts/cv.html -->
updated: summer 2025
<div class="post">
  <object data="../assets/pdf/pu_summer25.pdf#pagemode=none" width="750" height="1000" type="application/pdf"></object>
</div>
